
    <!-- Footer -->
		<footer class="footer-dark">
			<div class="container">
				<div class="info">
					<h3>Credit to Nintendo</h3>
					<ul><li><a herf="https://www.nintendo.com/games/detail/animal-crossing-new-horizons-switch/">
						Animal Crossing™: New Horizons</a></li></ul>
				</div>
				<div class="col item social">
					<a href="https://www.linkedin.com/in/jing-shen-547777110/">
						<span class="iconify" data-icon="ion:logo-linkedin" data-inline="false"></span>
					</a>
					<a href="https://github.com/jshen1110/">
						<span class="iconify" data-icon="ion:logo-github" data-inline="false"></span>
					</a>
				</div>
				<p class="copyright">&copy; 2020 Jing Shen</p>
			</div>
		</footer>
		
	</body>
</html>