<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Redd's Arts</title>
		<!-- page icon -->
		<!--<link rel="icon" type="image/png" href="/favicon.png"/>-->
		<link rel="icon" type="image/png" href="https://acpocketnews.com/wp-content/uploads/2020/04/Blathers.jpg"/>
		<!-- include css-->
		<link rel="stylesheet" href="/styles/new.css">
		<!-- Bootstrap css-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" id="bootstrap-css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
		<!-- font link -->
		<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		<!-- jquery link -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><span class="fa fa-camera-retro"></span> Redd's Arts</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- As user can see this form when he log in-->
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/arts">View Redd's Arts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Log out</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<header class="masthead text-center text-white">
			<div class="content">
				<h1 class="masthead-heading mb-0">Edit Comment</h1>
			</div>
		</header> 
		
		<div class = "row">
			<div style="width: 60%; margin: 35px auto">
				<h3 class="mb-0">Edit My Comment</h3>
				<form action="/arts/<%= art_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
					<!-- Grid column -->
					<div class="form-group">
						<!-- Material input -->
						<div class="md-form form-group">
							<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
							<label for="formInfo1">Your Comment</label>
						</div>
						<div class="form-group">
							<button type="submit" class="button button-block rounded-pill mt-5">Submit</button>
						</div>
					</div>
				</form>
				<a href="/arts" class="btn btn-primary rounded-pill mt-5">Go Back</a>
			</div>
		</div>
		
		<!-- Footer -->
		<footer class="py-5 bg-black">
			<div class="container">
				<p class="m-0 text-center text-white small">&copy; 2020 Jing Shen</p>
				<p class="m-0 text-center text-white small">Credit to Nintendo </p>
			</div>
		</footer>
		
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
		<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
		
  </body>
</html>

