<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Redd's Arts</title>
		<!-- page icon -->
		<!--<link rel="icon" type="image/png" href="/favicon.png"/>-->
		<link rel="icon" type="image/png" href="https://acpocketnews.com/wp-content/uploads/2020/04/Blathers.jpg"/>
		<!-- include css-->
		<link rel="stylesheet" href="/styles/login.css">
		<!-- Bootstrap css-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" id="bootstrap-css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
		<!-- font link -->
		<link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		<!-- jquery link -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><span class="fa fa-camera-retro"></span> Redd's Arts</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- As user can see this form when he log in-->
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/arts">View Redd's Arts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/register">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Log in</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<% if(error && error.length > 0){ %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
			<% } %>
			<% if(success && success.length > 0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
			<% } %>
		</div>
		
		<div class="login-wrap">
			<div class="login-html">
				<input id="tab-1" type="radio" name="tab" class="log-in" checked><label for="tab-1" class="tab">Login</label>
				<input id="tab-2" type="radio" name="tab" class="register"><label for="tab-2" class="tab">Sign up</label>
				
				<div class="login-form">
					<form action="/login" method="POST" class="log-in-htm">
						<div class ="message">
							<h1>Welcome back!</h1>
						</div>
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="text" class="input" name="username" placeholder="username">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" name="password" placeholder="password">
						</div>
						<div class="group">
							<input type="submit" class="button" value="Login">
						</div>
						<div class="hr">
						</div>
					</form>
					<form class="register-htm" action="/register" method="POST">
						<div class ="message">
							<h1>Hi,  Welcome!</h1>
						</div>
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" class="input" type="text" name="username" placeholder="username">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" name="password" placeholder="password">
						</div>
						<div class="group">
							<!--<button type="submit" class="button">Sign Up</button>-->
							<input type="submit" class="button" value="Sign Up">
						</div>
						<div class="hr">
						<div class="group">
							<!-- <label for="pass" class="label">Admin code</label> -->
							<input class="input" type="hidden" name="adminCode" placeholder="Admin code">
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
